{% extends 'base.html' %} {% block title %} Score and Feedback {% endblock %} {%
block body %}

  <!-- Code block starts -->
    <section class="max-w-8xl mx-auto container bg-white pt-16">
      <div>
        <div role="contentinfo" class="flex items-center flex-col px-4">
          <p
            tabindex="0"
            class="focus:outline-none uppercase text-sm text-center text-gray-600 leading-4"
          >
            in few easy steps
          </p>
          <h1
            tabindex="0"
            class="focus:outline-none text-4xl lg:text-4xl font-extrabold text-center leading-20 text-blue-800 lg:w-5/12 md:w-9/12 pt-4"
            >Correct and improve your speech delivery with NiO</h1
          >
        </div>
        <div
          tabindex="0"
          aria-label="group of cards"
          class="focus:outline-none mt-20 flex flex-wrap justify-center gap-10 px-4"
        >
          <div
            tabindex="0"
            aria-label="card 1"
            class="focus:outline-none flex sm:w-full md:w-5/12 pb-20"
          >
            <div class="w-20 h-20 relative mr-5">
              <div
                class="absolute top-0 right-0 bg-indigo-100 rounded w-16 h-16 mt-2 mr-1"
              ></div>
              <div
                class="absolute text-white bottom-0 left-0 bg-indigo-700 rounded w-16 h-16 flex items-center justify-center mt-2 mr-3"
              >
                <img
                  src="https://tuk-cdn.s3.amazonaws.com/can-uploader/icon_and_text-SVG1.svg"
                  alt="drawer"
                />
              </div>
            </div>
            <div class="w-10/12">
              <h2
                tabindex="0"
                class="focus:outline-none text-lg font-bold leading-tight text-gray-800"
              >
                Ready to use components
              </h2>
              <p
                tabindex="0"
                class="focus:outline-none text-base text-gray-600 leading-normal pt-2"
              >
                It provides a very simple start, no need to write a lot of code,
                you just import it and start the primitive components and create
                the ones you need.
              </p>
            </div>
          </div>
          <div
            tabindex="0"
            aria-label="card 2"
            class="focus:outline-none flex sm:w-full md:w-5/12 pb-20"
          >
            <div class="w-20 h-20 relative mr-5">
              <div
                class="absolute top-0 right-0 bg-indigo-100 rounded w-16 h-16 mt-2 mr-1"
              ></div>
              <div
                class="absolute text-white bottom-0 left-0 bg-indigo-700 rounded w-16 h-16 flex items-center justify-center mt-2 mr-3"
              >
                <img
                  src="https://tuk-cdn.s3.amazonaws.com/can-uploader/icon_and_text-SVG2.svg"
                  alt="check"
                />
              </div>
            </div>
            <div class="w-10/12">
              <h2
                tabindex="0"
                class="focus:outline-none text-lg font-semibold leading-tight text-gray-800"
              >
                Hight Quality UI you can reply on
              </h2>
              <p
                tabindex="0"
                class="focus:outline-none text-base text-gray-600 leading-normal pt-2"
              >
                Modify the visual appearance of your site – including colors,
                fonts, margins and other style-related properties – with a
                sophisticated style.
              </p>
            </div>
          </div>
          <div
            tabindex="0"
            aria-label="card 3"
            class="focus:outline-none flex sm:w-full md:w-5/12 pb-20"
          >
            <div class="w-20 h-20 relative mr-5">
              <div
                class="absolute top-0 right-0 bg-indigo-100 rounded w-16 h-16 mt-2 mr-1"
              ></div>
              <div
                class="absolute text-white bottom-0 left-0 bg-indigo-700 rounded w-16 h-16 flex items-center justify-center mt-2 mr-3"
              >
                <img
                  src="https://tuk-cdn.s3.amazonaws.com/can-uploader/icon_and_text-SVG3.svg"
                  alt="html tag"
                />
              </div>
            </div>
            <div class="w-10/12">
              <h2
                tabindex="0"
                class="focus:outline-none text-lg font-semibold leading-tight text-gray-800"
              >
                Coded by Developers for Developers
              </h2>
              <p
                tabindex="0"
                class="focus:outline-none text-base text-gray-600 leading-normal pt-2"
              >
                Instead of just giving you the tools to create your own site,
                they offer you a list of themes you can choose from. Thus a
                handy product.
              </p>
            </div>
          </div>
          <div
            tabindex="0"
            aria-label="card 4"
            class="focus:outline-none flex sm:w-full md:w-5/12 pb-20"
          >
            <div class="w-20 h-20 relative mr-5">
              <div
                class="absolute top-0 right-0 bg-indigo-100 rounded w-16 h-16 mt-2 mr-1"
              ></div>
              <div
                class="absolute text-white bottom-0 left-0 bg-indigo-700 rounded w-16 h-16 flex items-center justify-center mt-2 mr-3"
              >
                <img
                  src="https://tuk-cdn.s3.amazonaws.com/can-uploader/icon_and_text-SVG4.svg"
                  alt="monitor"
                />
              </div>
            </div>
            <div class="w-10/12">
              <h2
                tabindex="0"
                class="focus:outline-none text-lg font-semibold leading-tight text-gray-800"
              >
                The Last UI kit you’ll ever need
              </h2>
              <p
                tabindex="0"
                class="focus:outline-none text-base text-gray-600 leading-normal pt-2"
              >
                We have chosen the bright color palettes that arouse the only
                positive emotions. The kit that simply assures to be loved by
                everyone.
              </p>
            </div>
          </div>
        </div>
      </div>
    </section>
  <!-- Code block ends -->

{% endblock %}
