{% extends 'base.html' %} {% block title %} About {% endblock %} {%
block body %}

<!-- Code block starts -->
<div>
  <div role="contentinfo" class="flex items-center flex-col px-4">
    <p tabindex="0" class="focus:outline-none uppercase text-sm text-center text-gray-600 dark:text-gray-100 leading-4">
      in few easy steps
    </p>
    <h1 tabindex="0" b
      class="focus:outline-none text-4xl lg:text-4xl font-extrabold text-center leading-20 text-blue-800 dark:text-blue-500 lg:w-5/12 md:w-9/12 pt-4">
      Correct and improve your speech delivery with NiO</h1>
  </div>
  <div tabindex="0" aria-label="group of cards"
    class="focus:outline-none mt-20 flex flex-wrap justify-center gap-10 px-4">
    <div tabindex="0" aria-label="card 1" class="focus:outline-none flex sm:w-full md:w-5/12 pb-20">
      <div class="w-20 h-20 relative mr-5">
        <div class="absolute top-0 right-0 bg-indigo-100 rounded w-16 h-16 mt-2 mr-1"></div>
        <div
          class="absolute text-white bottom-0 left-0 bg-indigo-700 rounded w-16 h-16 flex items-center justify-center mt-2 mr-3">
          <img src="https://tuk-cdn.s3.amazonaws.com/can-uploader/icon_and_text-SVG1.svg" alt="drawer" />
        </div>
      </div>
      <div class="w-10/12">
        <h2 tabindex="0" class="focus:outline-none text-lg font-bold leading-tight text-black-800 dark:text-blue-500">
          Easy to use
        </h2>
        <p tabindex="0" class="focus:outline-none text-base text-gray-600 dark:text-gray-100 leading-normal pt-2">
          Hit the record button and hit confirm, the system will then process your voice for your speech rating or you
          can upload your script so you can read it during recording process.
          No need to do anything else just wait for it to process.
        </p>
      </div>
    </div>
    <div tabindex="0" aria-label="card 2" class="focus:outline-none flex sm:w-full md:w-5/12 pb-20">
      <div class="w-20 h-20 relative mr-5">
        <div class="absolute top-0 right-0 bg-indigo-100 rounded w-16 h-16 mt-2 mr-1"></div>
        <div
          class="absolute text-white bottom-0 left-0 bg-indigo-700 rounded w-16 h-16 flex items-center justify-center mt-2 mr-3">
          <img src="https://tuk-cdn.s3.amazonaws.com/can-uploader/icon_and_text-SVG2.svg" alt="check" />
        </div>
      </div>
      <div class="w-10/12">
        <h2 tabindex="0"
          class="focus:outline-none text-lg font-semibold leading-tight text-gray-800 dark:text-blue-500">
          User Centered Feature
        </h2>
        <p tabindex="0" class="focus:outline-none text-base text-gray-600 dark:text-gray-100 leading-normal pt-2">
          The application can help its users improve their speech vocalization and delivery. This application can help
          users achieve better fluency by providing various features to improve their speaking skills.
        </p>
      </div>
    </div>
    <div tabindex="0" aria-label="card 3" class="focus:outline-none flex sm:w-full md:w-5/12 pb-20">
      <div class="w-20 h-20 relative mr-5">
        <div class="absolute top-0 right-0 bg-indigo-100 rounded w-16 h-16 mt-2 mr-1"></div>
        <div
          class="absolute text-white bottom-0 left-0 bg-indigo-700 rounded w-16 h-16 flex items-center justify-center mt-2 mr-3">
          <img src="https://tuk-cdn.s3.amazonaws.com/can-uploader/icon_and_text-SVG3.svg" alt="html tag" />
        </div>
      </div>
      <div class="w-10/12">
        <h2 tabindex="0"
          class="focus:outline-none text-lg font-semibold leading-tight text-gray-800 dark:text-blue-500">
          Made for Everyone
        </h2>
        <p tabindex="0" class="focus:outline-none text-base text-gray-600 dark:text-gray-100 leading-normal pt-2">
          Anyone who wishes to use the app for entertainment or practice are free to do so. Start recording <a
            href="{{ url_for('index') }}"
            class="font-medium text-blue-600 underline dark:text-red-500 hover:no-underline">now</a>
        </p>
      </div>
    </div>
    <div tabindex="0" aria-label="card 4" class="focus:outline-none flex sm:w-full md:w-5/12 pb-20">
      <div class="w-20 h-20 relative mr-5">
        <div class="absolute top-0 right-0 bg-indigo-100 rounded w-16 h-16 mt-2 mr-1"></div>
        <div
          class="absolute text-white bottom-0 left-0 bg-indigo-700 rounded w-16 h-16 flex items-center justify-center mt-2 mr-3">
          <img src="https://tuk-cdn.s3.amazonaws.com/can-uploader/icon_and_text-SVG4.svg" alt="monitor" />
        </div>
      </div>
      <div class="w-10/12">
        <h2 tabindex="0"
          class="focus:outline-none text-lg font-semibold leading-tight text-gray-800 dark:text-blue-500">
          Responsive design
        </h2>
        <p tabindex="0" class="focus:outline-none text-base text-gray-600 dark:text-gray-100 leading-normal pt-2">
          Adjusts its layout on the user's device and screen size. Given the increasing diversity of devices and
          screens that people use to access the application.
        </p>
      </div>
    </div>
  </div>
</div>
<!-- Code block ends -->

{% endblock %}