<!DOCTYPE html>
<html lang="en" class="">

  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{% block title %} {% endblock %}</title>

    <!-- our logo here -->
    <link rel="shortcut icon" href="{{ url_for('static', filename='images/icon1.jpg') }}" />
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap" rel="stylesheet" />
    <link rel="stylesheet" href="{{ url_for('static', filename='css/output.css') }}" />
  </head>

  <!--
    This will set the overflow property of the body element to hidden, which will prevent scrolling in the page.
    However, this approach will completely disable scrolling on the page, even if there is content that extends
    beyond the visible area of the viewport.

    If you want to allow scrolling in some parts of the page while preventing scrolling in others, you may need
    to use more specific classes and styles to target those elements.
    For example, you could set overflow-y: scroll on the specific element that you want
    to allow scrolling on, while still setting overflow: hidden on the body element to prevent scrolling on the page
    as a whole.
  -->

  <body class="m-0 dark:bg-gray-900">

    <div id="loading-container" class="unselectable">
      <div class="loading"></div>
    </div>

    <!-- nav/floating action button (fab) -->

    <button id="theme-toggle" type="button"
      class="text-gray-500 dark:text-gray-400 focus:outline-none rounded-lg text-sm p-2.5" title="Theme">
      <svg id="theme-toggle-dark-icon" class="hidden w-5 h-5" xmlns="http://www.w3.org/2000/svg" fill="none"
        viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
        <path stroke-linecap="round" stroke-linejoin="round"
          d="M21.752 15.002A9.718 9.718 0 0118 15.75c-5.385 0-9.75-4.365-9.75-9.75 0-1.33.266-2.597.748-3.752A9.753 9.753 0 003 11.25C3 16.635 7.365 21 12.75 21a9.753 9.753 0 009.002-5.998z" />
      </svg>


      <svg id="theme-toggle-light-icon" class="hidden w-5 h-5" xmlns="http://www.w3.org/2000/svg" fill="none"
        viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-5 h-5">
        <path stroke-linecap="round" stroke-linejoin="round"
          d="M12 3v2.25m6.364.386l-1.591 1.591M21 12h-2.25m-.386 6.364l-1.591-1.591M12 18.75V21m-4.773-4.227l-1.591 1.591M5.25 12H3m4.227-4.773L5.636 5.636M15.75 12a3.75 3.75 0 11-7.5 0 3.75 3.75 0 017.5 0z" />
      </svg>
    </button>





    <main class="unselectable flex min-h-screen flex-col items-center px-6 py-8 ">
      <!-- content -->
      {% block body %} {% endblock %}
    </main>

    <!-- Script Area -->
    <script type=text/javascript src="{{url_for('static', filename='js/output.js')}}"></script>
  </body>

</html>