<!DOCTYPE html>
<html lang="en" class="">

  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <!-- page title -->
    <title>{% block title %} {% endblock %}</title>

    <!-- our logo here -->
    <link rel="shortcut icon" href="{{ url_for('static', filename='images/icon1.jpg') }}" />
    <link rel="stylesheet" href="{{ url_for('static', filename='css/output.css') }}" />

    <!-- external -->
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap" rel="stylesheet" />
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
  </head>

  <body class="m-0 dark:bg-gray-900">

    <!-- notification -->
    <div id="alert"
      class="fixed unselectable left-auto right-0 top-0 mx-auto mb-4 max-w-xs justify-center p-4 animate-fade-in">
      {% with messages = get_flashed_messages(with_categories=True) %}
      {% if messages %}
      {% for category, message in messages %}
      {% if category == 'success' %}

      <div id="alert-3" class="mb-4 flex rounded-lg bg-green-50 p-4 text-green-800 dark:bg-gray-800 dark:text-green-400"
        role="alert">
        <svg aria-hidden="true" class="h-5 w-5 flex-shrink-0" fill="currentColor" viewBox="0 0 20 20"
          xmlns="http://www.w3.org/2000/svg">
          <path fill-rule="evenodd"
            d="M18 10a8 8 0 11-16 0 8 8 0 0116 0zm-7-4a1 1 0 11-2 0 1 1 0 012 0zM9 9a1 1 0 000 2v3a1 1 0 001 1h1a1 1 0 100-2v-3a1 1 0 00-1-1H9z"
            clip-rule="evenodd"></path>
        </svg>
        <span class="sr-only">Info</span>
        <div class="ml-3 text-sm font-medium">{{ message }}</div>
        <button type="button"
          class="-mx-1.5 -my-1.5 ml-auto inline-flex h-8 w-8 rounded-lg bg-green-50 p-1.5 text-green-500 hover:bg-green-200 focus:ring-2 focus:ring-green-400 dark:bg-gray-800 dark:text-green-400 dark:hover:bg-gray-700"
          data-dismiss-target="#alert-3" aria-label="Close">
          <span class="sr-only">Close</span>
          <svg aria-hidden="true" class="h-5 w-5" fill="currentColor" viewBox="0 0 20 20"
            xmlns="http://www.w3.org/2000/svg">
            <path fill-rule="evenodd"
              d="M4.293 4.293a1 1 0 011.414 0L10 8.586l4.293-4.293a1 1 0 111.414 1.414L11.414 10l4.293 4.293a1 1 0 01-1.414 1.414L10 11.414l-4.293 4.293a1 1 0 01-1.414-1.414L8.586 10 4.293 5.707a1 1 0 010-1.414z"
              clip-rule="evenodd"></path>
          </svg>
        </button>
      </div>

      {% else %}

      <div id="alert-2" class="mb-4 flex rounded-lg bg-red-50 p-4 text-red-800 dark:bg-gray-800 dark:text-red-400"
        role="alert">
        <svg aria-hidden="true" class="h-5 w-5 flex-shrink-0" fill="currentColor" viewBox="0 0 20 20"
          xmlns="http://www.w3.org/2000/svg">
          <path fill-rule="evenodd"
            d="M18 10a8 8 0 11-16 0 8 8 0 0116 0zm-7-4a1 1 0 11-2 0 1 1 0 012 0zM9 9a1 1 0 000 2v3a1 1 0 001 1h1a1 1 0 100-2v-3a1 1 0 00-1-1H9z"
            clip-rule="evenodd"></path>
        </svg>
        <span class="sr-only">Info</span>
        <div class="ml-3 text-sm font-medium">{{ message }}</div>
        <button type="button"
          class="-mx-1.5 -my-1.5 ml-auto inline-flex h-8 w-8 rounded-lg bg-red-50 p-1.5 text-red-500 hover:bg-red-200 focus:ring-2 focus:ring-red-400 dark:bg-gray-800 dark:text-red-400 dark:hover:bg-gray-700"
          data-dismiss-target="#alert-2" aria-label="Close">
          <span class="sr-only">Close</span>
          <svg class="h-5 w-5" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
            <path fill-rule="evenodd"
              d="M4.293 4.293a1 1 0 011.414 0L10 8.586l4.293-4.293a1 1 0 111.414 1.414L11.414 10l4.293 4.293a1 1 0 01-1.414 1.414L10 11.414l-4.293 4.293a1 1 0 01-1.414-1.414L8.586 10 4.293 5.707a1 1 0 010-1.414z"
              clip-rule="evenodd"></path>
          </svg>
        </button>
      </div>

      {% endif %}
      {% endfor %}
      {% endif %}
      {% endwith %}
    </div>

    <!-- loading indicator -->
    <div id="loading-container" class="unselectable">
      <div class="loading"></div>
    </div>

    <!-- floating action button -->
    <nav class="menu">
      <input type="checkbox" class="menu-open sr-only" name="menu-open" id="menu-open" />
      <label class="menu-open-button" for="menu-open">
        <span class="hamburger hamburger-1"></span>
        <span class="hamburger hamburger-2"></span>
        <span class="hamburger hamburger-3"></span>
      </label>

      <!-- theme -->
      <a id="theme-toggle" class="menu-item" title="Theme">
        <span id="theme-toggle-dark-icon" class="hidden w-5 h-5">
          <i class="hidden fa fa-sun-o"></i>
        </span>
        <span id="theme-toggle-light-icon" class="hidden w-5 h-5">
          <i class="hidden fa fa-moon-o"></i>
        </span>
      </a>

      {% if current_user.is_authenticated %}

      <!-- home authenticated -->
      <a data-modal-target="popup-modal" data-modal-toggle="popup-modal" class="menu-item" title="Home">
        <i class="fa fa-home"></i>
      </a>

      <!-- history -->
      {% if request.endpoint != 'feedback' %}
      <a data-modal-target="large-modal" data-modal-toggle="large-modal" class="menu-item" title="History">
        <i class="fa fa-history"></i>
      </a>
      {% endif %}

      {% else %}

      <!-- home unauthenticated -->
      {% if request.endpoint != 'login' %}
      <a href="{{ url_for('index') }}" class="menu-item" title="Home">
        <i class="fa fa-home"></i>
      </a>
      {% endif %}

      <!-- about -->
      {% if request.endpoint != 'about' %}
      <a href="{{ url_for('about') }}" class="menu-item" title="About">
        <i class="fa fa-users"></i>
      </a>
      {% endif %}

      {% endif %}

    </nav>

    <!-- content -->
    <main class="unselectable flex min-h-screen flex-col items-center px-6 py-8 ">
      {% block body %} {% endblock %}
    </main>

    <!--  modal -->
    <div id="popup-modal" tabindex="-1"
      class="unselectable h-modal fixed top-0 left-0 right-0 z-50 hidden overflow-y-auto overflow-x-hidden">
      <div class="h-full flex justify-center items-center">
        <div class="relative rounded-lg bg-white shadow dark:bg-gray-700">
          <button type="button"
            class="absolute top-3 right-2.5 ml-auto inline-flex items-center rounded-lg bg-transparent p-1.5 text-sm text-gray-400 hover:bg-gray-200 hover:text-gray-900 dark:hover:bg-gray-800 dark:hover:text-white"
            data-modal-hide="popup-modal">
            <svg aria-hidden="true" class="w-5 h-5" fill="currentColor" viewBox="0 0 20 20"
              xmlns="http://www.w3.org/2000/svg">
              <path fill-rule="evenodd"
                d="M4.293 4.293a1 1 0 011.414 0L10 8.586l4.293-4.293a1 1 0 111.414 1.414L11.414 10l4.293 4.293a1 1 0 01-1.414 1.414L10 11.414l-4.293 4.293a1 1 0 01-1.414-1.414L8.586 10 4.293 5.707a1 1 0 010-1.414z"
                clip-rule="evenodd"></path>
            </svg>
            <span class="sr-only">Close modal</span>
          </button>
          <div class="p-6 text-center">
            <svg aria-hidden="true" class="mx-auto mb-4 text-gray-400 w-14 h-14 dark:text-gray-200" fill="none"
              stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
              <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                d="M12 8v4m0 4h.01M21 12a9 9 0 11-18 0 9 9 0 0118 0z"></path>
            </svg>
            <h3 class="mb-5 text-lg font-normal text-gray-500 dark:text-gray-400">
              Are you sure you want to end this Session?
            </h3>
            <button data-modal-hide="popup-modal" type="button" onclick="window.location.href='{{ url_for('index') }}';"
              class="mr-2 inline-flex items-center rounded-lg bg-red-600 px-5 py-2.5 text-center text-sm font-medium text-white hover:bg-red-800 focus:outline-none focus:ring-4 focus:ring-red-300 dark:focus:ring-red-800">
              Yes, I'm sure
            </button>

            <button data-modal-hide="popup-modal" type="button"
              class="rounded-lg border border-gray-200 bg-white px-5 py-2.5 text-sm font-medium text-gray-500 hover:bg-gray-100 hover:text-gray-900 focus:z-10 focus:outline-none focus:ring-4 focus:ring-gray-200 dark:border-gray-500 dark:bg-gray-700 dark:text-gray-300 dark:hover:bg-gray-600 dark:hover:text-white dark:focus:ring-gray-600">
              No, cancel
            </button>
          </div>
        </div>
      </div>
    </div>

    <!-- history modal -->
    <div id="large-modal" tabindex="-1"
      class="fixed top-0 left-0 right-0 z-50 hidden w-full p-4 overflow-x-hidden overflow-y-auto md:inset-0 h-[calc(100%-1rem)] max-h-full">
      <div class="relative w-full max-w-4xl max-h-full">
        <!-- Modal content -->
        <div class="relative bg-white dark:bg-gray-700 rounded-lg shadow">
          <!-- Modal header -->
          <div class="flex items-center justify-between p-5 border-b rounded-t dark:border-gray-600">
            <h3 class="text-xl font-medium text-gray-900 dark:text-white">
              History
            </h3>
            <button type="button"
              class="text-gray-400 bg-transparent hover:bg-gray-200 hover:text-gray-900 rounded-lg text-sm p-1.5 ml-auto inline-flex items-center dark:hover:bg-gray-600 dark:hover:text-white"
              data-modal-hide="large-modal">
              <svg aria-hidden="true" class="w-5 h-5" fill="currentColor" viewBox="0 0 20 20"
                xmlns="http://www.w3.org/2000/svg">
                <path fill-rule="evenodd"
                  d="M4.293 4.293a1 1 0 011.414 0L10 8.586l4.293-4.293a1 1 0 111.414 1.414L11.414 10l4.293 4.293a1 1 0 01-1.414 1.414L10 11.414l-4.293 4.293a1 1 0 01-1.414-1.414L8.586 10 4.293 5.707a1 1 0 010-1.414z"
                  clip-rule="evenodd"></path>
              </svg>
              <span class="sr-only">Close modal</span>
            </button>
          </div>

          <!-- line graph -->
          <div class="w-full p-4">
            <canvas id="line-chart" class="w-full h-64 sm:h-48 md:h-56 lg:h-64 xl:h-80 dark:text-white"></canvas>
          </div>

        </div>
      </div>
    </div>

    <!-- Script Area -->
    <script type=text/javascript src="{{url_for('static', filename='js/output.js')}}"></script>
    <script src="https://cdn.jsdelivr.net/npm/@grammarly/editor-sdk?clientId=client_NS9qsVGBH9NCBFhWJKX6Di"></script>

    <!-- chart extra -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.2/Chart.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

    <script>
      const chartData = JSON.parse('{{ chart_data|safe }}');
      const lineChart = document.getElementById('line-chart');
      const themeToggle = document.getElementById('theme-toggle');

      let isDarkMode = false;
      if (localStorage.getItem('color-theme') === 'dark' || (!('color-theme' in localStorage) && window.matchMedia('(prefers-color-scheme: dark)').matches)) {
        isDarkMode = true;
      }

      const dataLine = {
        type: 'line',
        data: chartData,
        options: {
          scales: {
            yAxes: [
              {
                ticks: {
                  beginAtZero: true,
                  fontColor: isDarkMode ? '#fff' : '#000',
                },
              },
            ],
            xAxes: [
              {
                ticks: {
                  fontColor: isDarkMode ? '#fff' : '#000',
                },
              },
            ],
          },
          legend: {
            labels: {
              fontColor: isDarkMode ? '#fff' : '#000',
            },
          },
        },
      };

      const lineChartObj = new Chart(lineChart, dataLine);

      themeToggle.addEventListener('click', function () {
        // update isDarkMode based on the current theme
        isDarkMode = document.documentElement.classList.contains('dark');

        // update the chart options based on the new theme
        lineChartObj.options.scales.yAxes[0].ticks.fontColor = isDarkMode ? '#fff' : '#000';
        lineChartObj.options.scales.xAxes[0].ticks.fontColor = isDarkMode ? '#fff' : '#000';
        lineChartObj.options.legend.labels.fontColor = isDarkMode ? '#fff' : '#000';

        // re-render the chart with the updated options
        lineChartObj.update();
      });
    </script>
    <!-- default cross out ung dalawa tas pindot nalang -->

  </body>

</html>