<!-- this extends our base html -->
{% extends 'base.html' %} {% block title %} Score and Feedback {% endblock %} {%
block body %} {% if current_user.is_authenticated %}
<h2>Score and Feedback</h2>
<a class="underline" href="{{ url_for('index') }}"> Another User </a>
<a class="underline" href="{{ url_for('main') }}"> Back </a>
{% else %}

<div class="shadow-lg rounded-lg">
  <canvas class="p-5 h-screen" id="chartBar"></canvas>
</div>


<script type=text/javascript src="{{url_for('static', filename='js/chart.js')}}"></script>
{% endif%} {% endblock %}
