<!-- this extends our base html -->
{% extends 'base.html' %} {% block title %} Score and Feedback {% endblock %} {%
block body %} {% if current_user.is_authenticated %}

<div
  class="unselectable container mx-auto flex h-screen flex-col justify-center px-4 lg:px-0"
>
  <h2 class="text-center text-3xl font-bold text-gray-900 dark:text-gray-100">
    Result
  </h2>

  <div class="overflow-hidden rounded-lg bg-white shadow-lg dark:bg-gray-800">
    <div class="mx-auto max-w-screen-sm p-5 lg:w-3/4 aspect-w-16 aspect-h-9">
      <canvas class="w-full h-auto" id="chartBar"></canvas>
    </div>
  </div>

  <div class="mt-8 flex justify-center space-x-4">
    <a
      href="{{ url_for('main') }}"
      class="flex items-center justify-center rounded-lg bg-blue-500 py-2 px-6 font-bold text-white transition duration-300 hover:bg-blue-600 dark:bg-gray-700 dark:text-white"
    >
      <svg class="w-5 h-5 mr-2" viewBox="0 0 20 20" fill="currentColor">
        <path d="M10 12a2 2 0 100-4 2 2 0 000 4z" />
        <path
          fill-rule="evenodd"
          d="M10 18a8 8 0 110-16 8 8 0 010 16zm0-2a6 6 0 100-12 6 6 0 000 12z"
          clip-rule="evenodd"
        />
      </svg>
      Practice Again
    </a>

    <a
      data-modal-target="popup-modal"
      data-modal-toggle="popup-modal"
      class="flex items-center justify-center rounded-lg bg-blue-500 py-2 px-6 font-bold text-white transition duration-300 hover:bg-blue-600 dark:bg-gray-700 dark:text-white"
    >
      <svg class="w-5 h-5 mr-2" viewBox="0 0 20 20" fill="currentColor">
        <path
          fill-rule="evenodd"
          d="M3.293 6.707a1 1 0 010-1.414l7-7a1 1 0 011.414 0l7 7a1 1 0 010 1.414l-7 7a1 1 0 01-1.414 0l-7-7z"
          clip-rule="evenodd"
        />
        <path
          fill-rule="evenodd"
          d="M9.999 2a1 1 0 01.707.293l7 7a1 1 0 01-1.414 1.414L10 4.414l-5.293 5.293a1 1 0 01-1.414-1.414l7-7A1 1 0 019.999 2z"
          clip-rule="evenodd"
        />
        <path
          fill-rule="evenodd"
          d="M18 10a1 1 0 01-1 1h-6a1 1 0 010-2h6a1 1 0 011 1zM9.293 11.707a1 1 0 010-1.414L12.586 7H7a1 1 0 010-2h6a3 3 0 013 3v3a1 1 0 01-2 0v-3a1 1 0 00-1-1H7.414l-3.707 3.707a1 1 0 01-1.414 0l-2-2a1 1 0 010-1.414l2-2a1 1 0 011.414 0L6 9.586l3.293 3.293z"
          clip-rule="evenodd"
        />
      </svg>
      <span class="text-center">New Session</span>
    </a>

    <!--  modal start -->
    <div
      id="popup-modal"
      tabindex="-1"
      class="h-modal fixed top-0 left-0 right-0 z-50 hidden overflow-y-auto overflow-x-hidden"
    >
      <div class="h-full flex justify-center items-center">
        <div class="relative rounded-lg bg-white shadow dark:bg-gray-700">
          <button
            type="button"
            class="absolute top-3 right-2.5 ml-auto inline-flex items-center rounded-lg bg-transparent p-1.5 text-sm text-gray-400 hover:bg-gray-200 hover:text-gray-900 dark:hover:bg-gray-800 dark:hover:text-white"
            data-modal-hide="popup-modal"
          >
            <svg
              aria-hidden="true"
              class="w-5 h-5"
              fill="currentColor"
              viewBox="0 0 20 20"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path
                fill-rule="evenodd"
                d="M4.293 4.293a1 1 0 011.414 0L10 8.586l4.293-4.293a1 1 0 111.414 1.414L11.414 10l4.293 4.293a1 1 0 01-1.414 1.414L10 11.414l-4.293 4.293a1 1 0 01-1.414-1.414L8.586 10 4.293 5.707a1 1 0 010-1.414z"
                clip-rule="evenodd"
              ></path>
            </svg>
            <span class="sr-only">Close modal</span>
          </button>
          <div class="p-6 text-center">
            <svg
              aria-hidden="true"
              class="mx-auto mb-4 text-gray-400 w-14 h-14 dark:text-gray-200"
              fill="none"
              stroke="currentColor"
              viewBox="0 0 24 24"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path
                stroke-linecap="round"
                stroke-linejoin="round"
                stroke-width="2"
                d="M12 8v4m0 4h.01M21 12a9 9 0 11-18 0 9 9 0 0118 0z"
              ></path>
            </svg>
            <h3
              class="mb-5 text-lg font-normal text-gray-500 dark:text-gray-400"
            >
              Are you sure you want to end this Session?
            </h3>
            <button
              data-modal-hide="popup-modal"
              type="button"
              onclick="window.location.href='{{ url_for('index') }}';"
              class="mr-2 inline-flex items-center rounded-lg bg-red-600 px-5 py-2.5 text-center text-sm font-medium text-white hover:bg-red-800 focus:outline-none focus:ring-4 focus:ring-red-300 dark:focus:ring-red-800"
            >
              Yes, I'm sure
            </button>

            <button
              data-modal-hide="popup-modal"
              type="button"
              class="rounded-lg border border-gray-200 bg-white px-5 py-2.5 text-sm font-medium text-gray-500 hover:bg-gray-100 hover:text-gray-900 focus:z-10 focus:outline-none focus:ring-4 focus:ring-gray-200 dark:border-gray-500 dark:bg-gray-700 dark:text-gray-300 dark:hover:bg-gray-600 dark:hover:text-white dark:focus:ring-gray-600"
            >
              No, cancel
            </button>
          </div>
        </div>
      </div>
    </div>
    <!--  modal end -->
  </div>
</div>

{% else %} No user {% endif%} {% endblock %}
