{% extends 'base.html' %} {% block title %} Score and Feedback {% endblock %} {%
block body %}

{% if current_user.is_authenticated %}
<div class="w-10/12 rounded-lg px-6 py-8 shadow capitalize">
  <h2 class="mb-5 text-center text-3xl font-bold text-gray-900 dark:text-gray-100">Result</h2>

  <div class="gap-8 sm:grid sm:grid-cols-2">
    <div>
      <div>
        <div class="text-sm font-medium text-gray-500 dark:text-gray-400">Rate</div>
        <div class="mb-3 flex items-center">
          <div class="mr-2 h-2.5 w-full rounded bg-gray-200 dark:bg-gray-700">
            <div class="h-2.5 rounded bg-blue-600 dark:bg-white" style="width: {{ rate }}%"></div>
          </div>
          <span class="text-sm font-medium text-gray-500 dark:text-gray-400">{{ rate }}</span>
        </div>
      </div>

      <div>
        <div class="text-sm font-medium text-gray-500 dark:text-gray-400">Fluency</div>
        <div class="mb-3 flex items-center">
          <div class="mr-2 h-2.5 w-full rounded bg-gray-200 dark:bg-gray-700">
            <div class="h-2.5 rounded bg-blue-600 dark:bg-white" style="width: {{ fluency }}%"></div>
          </div>
          <span class="text-sm font-medium text-gray-500 dark:text-gray-400">{{ fluency }}</span>
        </div>
      </div>

      <div>
        <div class="text-sm font-medium text-gray-500 dark:text-gray-400">Grammar</div>
        <div class="mb-3 flex items-center">
          <div class="mr-2 h-2.5 w-full rounded bg-gray-200 dark:bg-gray-700">
            <div class="h-2.5 rounded bg-blue-600 dark:bg-white" style="width: {{ grammar }}%"></div>
          </div>
          <span class="text-sm font-medium text-gray-500 dark:text-gray-400">{{ grammar }}</span>
        </div>
      </div>
    </div>

    <div>
      <div>
        <div class="text-sm font-medium text-gray-500 dark:text-gray-400">{{ emo_label_1 }}</div>
        <div class="mb-3 flex items-center">
          <div class="mr-2 h-2.5 w-full rounded bg-gray-200 dark:bg-gray-700">
            <div class="h-2.5 rounded bg-blue-600 dark:bg-white" style="width: {{ emo_score_1 }}%"></div>
          </div>
          <span class="text-sm font-medium text-gray-500 dark:text-gray-400">{{ emo_score_1 }}</span>
        </div>
      </div>

      <div>
        <div class="text-sm font-medium text-gray-500 dark:text-gray-400">{{ emo_label_2 }}</div>
        <div class="mb-3 flex items-center">
          <div class="mr-2 h-2.5 w-full rounded bg-gray-200 dark:bg-gray-700">
            <div class="h-2.5 rounded bg-blue-600 dark:bg-white" style="width: {{ emo_score_2 }}%"></div>
          </div>
          <span class="text-sm font-medium text-gray-500 dark:text-gray-400">{{ emo_score_2 }}</span>
        </div>
      </div>

      <div>
        <div class="text-sm font-medium text-gray-500 dark:text-gray-400">{{ emo_label_3 }}</div>
        <div class="mb-3 flex items-center">
          <div class="mr-2 h-2.5 w-full rounded bg-gray-200 dark:bg-gray-700">
            <div class="h-2.5 rounded bg-blue-600 dark:bg-white" style="width: {{ emo_score_3 }}%"></div>
          </div>
          <span class="text-sm font-medium text-gray-500 dark:text-gray-400">{{ emo_score_3 }}</span>
        </div>
      </div>
    </div>
  </div>

  <div class="mb-5 mt-5 flex items-center justify-center">
    <p class="font-medium text-gray-900 dark:text-white">Overall Rating:</p>
    <p
      class="ml-2 inline-flex items-center rounded bg-blue-100 p-1.5 text-sm font-semibold text-blue-800 dark:bg-blue-200 dark:text-blue-800">
      {{ average }}
    </p>
    <p class="ml-2 font-medium text-gray-900 dark:text-white">Excellent</p>
  </div>

  <div class="mt-8 flex justify-center space-x-4">
    <a href="{{ url_for('main') }}"
      class="flex items-center justify-center rounded-lg bg-blue-500 px-6 py-2 font-bold text-white transition duration-300 hover:bg-blue-600 dark:bg-gray-700 dark:text-white">
      <svg class="mr-2 h-5 w-5" viewBox="0 0 20 20" fill="currentColor">
        <path d="M10 12a2 2 0 100-4 2 2 0 000 4z" />
        <path fill-rule="evenodd" d="M10 18a8 8 0 110-16 8 8 0 010 16zm0-2a6 6 0 100-12 6 6 0 000 12z"
          clip-rule="evenodd" />
      </svg>
      Practice Again
    </a>
  </div>

  <div class="mt-10 flex flex-col lg:flex-row">
    <div class="mb-4 flex-1 rounded-md bg-blue-900 p-4 shadow-md dark:bg-blue-800 lg:mb-0 lg:mr-4">
      <h2 class="mb-2 text-lg font-bold text-white dark:text-gray-100">Transcribed Text</h2>
      <p class="text-gray-300 dark:text-gray-400">{{ transcribed }}</p>
    </div>
    <div class="flex-1 rounded-md bg-green-900 p-4 shadow-md dark:bg-green-800 lg:ml-4">
      <h2 class="mb-2 text-lg font-bold text-white dark:text-gray-100">Corrected Text</h2>
      <p class="text-gray-300 dark:text-gray-400">{{ ctranscribed }}</p>
    </div>
  </div>
  <div class="mt-10 flex flex-col lg:flex-row">
    <div class="mb-4 flex-1 rounded-md bg-gray-100 p-4 shadow-md dark:bg-gray-800 lg:mb-0 lg:mr-4">
      <h2 class="mb-2 text-lg font-bold text-gray-800 dark:text-gray-100">Feedback</h2>
      <p class="text-gray-600 dark:text-gray-400">Lorem ipsum dolor sit amet consectetur adipisicing elit.
        Praesentium
        non perspiciatis odio fuga dolore, ex recusandae, eius ea laudantium mollitia distinctio rerum
        alias quos
        dolor unde dicta cumque harum repellendus.</p>
    </div>
  </div>

</div>

{% else %}
No user
{% endif%}

{% endblock %}