<!DOCTYPE html>
<html lang="en" class="no-js">

	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>Welcome</title>
		<link href="https://fonts.googleapis.com/css?family=Heebo:400,700|Oxygen:700" rel="stylesheet">
		<link rel="stylesheet" href="{{ url_for('static', filename='css/output.css') }}" />
		<link rel="shortcut icon" href="{{ url_for('static', filename='images/logo.png') }}" />
		<script src="https://unpkg.com/scrollreveal@4.0.5/dist/scrollreveal.min.js"></script>
	</head>

	<body class="has-animations unselectable">
		<div
			class="body-wrap boxed-container bg-white overflow-hidden flex flex-col min-h-screen max-w-1440 mx-auto shadow-md">

			<!-- logo area -->
			<!-- <div class="site-header text-white top-0 left-0 w-full z-10 py-6">
				<div class="flex container justify-between items-center">
					<div class="m-0">
						<a href="#">
							<img class="h-12 w-auto" src="{{ url_for('static', filename = 'images/logo.png') }}"
								alt="Logo">
						</a>
					</div>
				</div>
			</div> -->

			<main class="flex-1">
				<div class="hero text-center">
					<div class="hero-bg"></div>
					<div class="hero-particles-container">
						<canvas id="hero-particles"></canvas>
					</div>
					<div class="container mx-auto px-4 sm:px-6 md:px-8 max-w-xl">
						<div class="relative z-10">
							<div class="relative mb-12 lg:mb-20">
								<h1 class="hero-title mt-0 text-gray-100 text-[20px]">Introducing</h1>
								<br>
								<b><h1 class="hero-title mt-0 text-gray-100 title">NiO</h1></b>
								<b><h1 class="hero-title mt-0 text-gray-100 secondary-title">Your personal speech coach!</h1></b>
								<br>
								<p class="hero-paragraph text-gray-500 text-[15px]">
									A cutting-edge speech delivery improvement app designed to help you improve your
									speech rate, grammar, fluency, and speech emotion!
								</p>
								<br>
								<p class="hero-paragraph text-gray-500 text-[15px]">
									Equipped with state-of-the-art audio processing algorithms and machine learning models, NiO can become
									your companion in practicing your speeches to improve your speaking skills and gain confidence in speaking publicly.
								</p>
								<br>
								<div class="hero-cta mt-8">
									<a class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-4 px-8 rounded text-lg hover:underline-none"
										href="{{ url_for('login') }}">Get Started</a>
								</div>
							</div>
							<div class="mockup-container">
								<div class="mockup-bg">
									<img src="{{ url_for('static', filename = 'images/iphone-hero-bg.svg') }}"
										alt="iPhone illustration">
								</div>
								<img class="device-mockup"
									src="{{ url_for('static', filename = 'images/iphone-hero1.png') }}"
									alt="iPhone Hero">
							</div>
						</div>
					</div>
				</div>

				<div class="hero text-center">
						<b><h1 class="hero-title mt-0 text-black-100 title">How to use NiO?</h1></b>
				</div>

				<div class="features-extended section">
					<div class="features-extended-inner section-inner">
						<div class="features-extended-wrap">
							<div class="container mx-auto px-4 sm:px-6 md:px-8 max-w-xl">
								<div class="flex flex-wrap items-center -mx-4 text-gray-500">
									<div class="feature-extended">
										<div class="feature-extended-image">
											<div class="mockup-bg">
												<img src="{{ url_for('static', filename = 'images/iphone-feature-bg-01.svg') }}"
													alt="iPhone Feature 01 illustration">
											</div>
											<img class="device-mockup is-revealing"
												src="{{ url_for('static', filename = 'images/input.png') }}"
												alt="iPhone Feature 01">
										</div>
										<div class="feature-extended-body is-revealing">
											<h3 class="secondary-title">Step 1: Enter your username</h3>
											<p class="text-[18px]">
												Input your username to keep track of your progress while practicing.
												You can also enter a script by typing in the text box or by uploading a
												txt file.
											</p>
										</div>
									</div>

									<div class="feature-extended">
										<div class="feature-extended-image">
											<div class="mockup-bg">
												<img src="{{ url_for('static', filename = 'images/iphone-feature-bg-02.svg') }}"
													alt="iPhone Feature 02 illustration">
											</div>
											<img class="device-mockup is-revealing"
												src="{{ url_for('static', filename = 'images/record.png') }}"
												alt="iPhone Feature 02">
										</div>
										<div class="feature-extended-body is-revealing">
											<h3 class="secondary-title">Step 2: Record your speech</h3>
											<p class="text-[18px]">
												Talk into your device's mic and start recording your speech.<br>
												NiO can handle a maximum of 5 minutes audio.<br>
												Tip: Position your mic 6-12 inches away from your mouth for better audio
												results
											</p>
										</div>
									</div>
									<div class="feature-extended">
										<div class="feature-extended-image">
											<div class="mockup-bg">
												<img src="{{ url_for('static', filename = 'images/iphone-feature-bg-03.svg') }}"
													alt="iPhone Feature 03 illustration">
											</div>
											<img class="device-mockup is-revealing"
												src="{{ url_for('static', filename = 'images/result.png') }}"
												alt="iPhone Feature 03">
										</div>
										<div class="feature-extended-body is-revealing">
											<h3 class="secondary-title">Step 3: View your results</h3>
											<p class="text-[18px]">
												After recording your audio, NiO will perform audio processing and analysis
												of your speech. <br>
												It will tell you your score in terms of your speech rate, grammar, and fluency
												in speaking.<br>
												It also tells you what emotion is felt in your way of speaking!
											</p>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</main>

			<footer class="site-footer">
				<div class="footer-particles-container">
					<canvas id="footer-particles"></canvas>
				</div>
				<div class="site-footer-bottom text-center text-gray-100">
					<div class="container mx-auto px-4 sm:px-6 md:px-8 max-w-xl">
						<div class="relative flex flex-wrap pt-12 pb-12 justify-center items-center">
							<div>&copy; 2023 NiO | All Rights Reserved</div>
							<div>
								<br>
								Disclaimer<br>
								The recorded audio of the user is stored in a database for the sole
								purpose of processing the audio to provide speech delivery feedback. It is not shared
								with third-party organizations and is protected under the Data Privacy Act of 2012 or
								RA 10173.
							</div>
						</div>
					</div>
				</div>
			</footer>

		</div>

		<script type=text/javascript src="{{url_for('static', filename='js/output.js')}}"></script>
	</body>

</html>