{% extends 'base.html' %} {% block title %} Welcome {% endblock %} {% block body
%}
<div class="w-10/12 rounded-lg px-6 py-8 shadow">
  <form method="POST" action="" enctype="multipart/form-data">

    {{ form.hidden_tag() }}

    <div class="mb-4 text-center">
      {{ form.username.label(
      class="mb-2 block font-bold text-gray-700 dark:text-white" 
      )
    }}
      {{ form.username(
      class="focus:shadow-outline max-w-md w-1/2 appearance-none rounded border py-2 px-3 leading-tight text-gray-700 shadow focus:outline-none dark:bg-gray-800 dark:text-white text-center"
      )
    }}
      <div id="username-counter" class="text-sm text-gray-600"></div>
    </div>

    <div class="mb-4 grid grid-cols-1 gap-4 md:grid-cols-2">
      <!-- Text Script -->
      <div class="mb-4 text-center">
        <label class="mb-2 block font-bold text-gray-700 dark:text-white" for="text_script"> Text Script </label>
        <textarea
          class="focus:shadow-outline w-full h-56 resize-none appearance-none overflow-y-auto rounded border py-2 px-3 leading-tight text-gray-700 shadow focus:outline-none dark:bg-gray-800 dark:text-white text-justify"
          id="text_script" placeholder="Enter your script here...." name="text_script" rows="6"></textarea>
      </div>

      <!-- File Script -->
      <div
        class="flex justify-center border-t-2 border-l-0 border-gray-300 pl-4 dark:border-gray-300 md:border-l-2 md:border-t-0">
        <div class="text-center">
          <label class="mb-2 block font-bold text-gray-700 dark:text-white" for="file_script"> File Script
          </label>
          <div class="relative">
            <input type="file" id="file_script" name="file_script" class="filepond hidden" multiple />
            <label for="file_script"
              class="flex cursor-pointer flex-col items-center justify-center rounded-md border border-gray-300 bg-white py-2 px-4 hover:border-gray-500 dark:border-gray-300 dark:bg-gray-800 dark:text-white dark:hover:border-gray-500"
              id="file_label">
              <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6 text-gray-600 dark:text-gray-400"
                viewBox="0 0 20 20" fill="currentColor">
                <path fill-rule="evenodd"
                  d="M16 14v2a2 2 0 01-2 2H6a2 2 0 01-2-2V4a2 2 0 012-2h6l2 2h4a2 2 0 012 2v8zM6 4v10h8V6h-2a2 2 0 01-2-2V2H6a2 2 0 012 2z"
                  clip-rule="evenodd" />
              </svg>
              <span class="mt-2 text-sm leading-normal">Select a file</span>
              <span id="file_title" class="mt-2 text-sm leading-normal hidden"></span>
              <button id="cancel_upload" class="mt-2 text-sm leading-normal hidden">
                Cancel
              </button>
            </label>
          </div>
        </div>
      </div>

      <div class="flex items-center justify-center md:justify-end">

        {{ form.submit(
        id="home_submit_btn",
        class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800"
        )
      }}

      </div>

  </form>
</div>
{% endblock %}