<!-- this extends our base html -->
{% extends 'base.html' %} {% block title %} Speech Time {% endblock %} {% block
body %}

<p class="underline text-blue-300 text-bolder">
  <a href="{{ url_for('home') }}">Home</a>
</p>

<br />

<h2>My name is {{ username }}</h2>
<br />
<p>Text {{ text }}</p>

<br />
<br />
<hr />
<br />
Controls
<br />
<div id="controls">
  {{ form.record(class="rounded", id="recordButton") }} {{
  form.pause(class="rounded", id="pauseButton") }} {{ form.stop(
  class="rounded", id="stopButton" ) }}
</div>
<br />
<br />
<br />
<div id="formats">Format: start recording to see sample rate</div>
<p><strong>Recordings:</strong></p>
<ol id="recordingsList"></ol>

<!-- inserting these scripts at the end to be able to use all the elements in the DOM -->
<script src="https://cdn.rawgit.com/mattdiamond/Recorderjs/08e7abd9/dist/recorder.js"></script>

{% endblock %}
