<!-- this extends our base html -->
{% extends 'base.html' %} {% block title %} Speech Time {% endblock %} {% block
body %}

<div
  class="unselectable"
  onmousedown="return false"
  onselectstart="return false"
>
  <p class="underline text-blue-300 text-bolder">
    <a href="{{ url_for('home') }}">Home</a>
  </p>

  <div>
    {% if username %} Username: <br />
    {{ username }} {% endif %}
  </div>
  <br />
  <div>
    {% if text %} {{ form.script.label( class="" ) }}: {{ form.script(
    class="bg-gray-200 appearance-none border-2 border-gray-200 rounded w-full
    py-2 px-4 text-gray-700 leading-tight focus:outline-none focus:bg-white
    focus:border-purple-500", placeholder=text, disabled=True ) }} {% endif %}
  </div>
</div>

<br />
<hr />
<br />

<div class="w-full max-w-sm">
  <span>
    {{ form.record( class="shadow bg-green-500 hover:bg-green-400
    focus:shadow-outline focus:outline-none text-white font-bold py-2 px-4
    rounded", id="start-button") }}
  </span>
  <span>
    {{ form.stop( class="shadow bg-red-500 hover:bg-red-400 focus:shadow-outline
    focus:outline-none text-white font-bold py-2 px-4 rounded",
    id="stop-button") }}
  </span>
</div>

<div id="recording-status">Format: start recording to see sample rate</div>

{% endblock %}
