<!DOCTYPE html>
<html lang="en" class="">

  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <!-- external -->
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap" rel="stylesheet" />
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
  </head>

  <body class="m-0 dark:bg-gray-900">

    <!-- notification -->

    <!-- loading indicator -->

    <!-- floating action button -->

    <!-- content -->
    <main class="unselectable flex min-h-screen flex-col items-center px-6 py-8 ">
     
        
        
    </main>

  </body>

</html>