# my mandatory choice
*__pycache__
*.pyc
*.cpython-39.pyc
# Ignore all files starting with "temp"
temp*
test*
# Ignore all files containing the string "temp"
*temp*
*test*
*dump*

# personal choice
/__
/.venv
/dump
/project/package-lock.json
/project/database
/project/temp_data
/project/node_modules
/project/__pycache__
/project/scripts/__pycache__/
*note.txt
*.csv
*KEYNOTE
georgewbush_rec.ogg
harvard.wav
*.bat

# training models
/project/models/*

# testing areas
/project/scripts/grammar/grammarTest.py
/tests/*

# dependencies
/node_modules
/.pnp
.pnp.js


# testing
/coverage

# production
/build

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*
