/* :root {
  --bg-color: #fff;
  --text-color: #000;
}

@media (prefers-color-scheme: dark) {
  :root {
    --bg-color: #333;
    --text-color: #fff;
  }
}

.menu-item,
.menu-open-button {
  width: 50px;
  height: 50px;
  margin-left: -40px;
  position: fixed;
  text-align: center;
  line-height: 50px;
  border-radius: 100%;
  background: #092ae7;
  color: white;
  transition: transform 0.3s ease-in-out;
}

.hamburger {
  width: 25px;
  height: 3px;
  background: white;
  display: block;
  position: fixed;
  top: 50%;
  left: 50%;
  margin: -1.5px 0 0 -12.5px;
  transition: transform 0.3s ease-in-out;
}

.hamburger-1 {
  transform: translate3d(0, -8px, 0);
}

.hamburger-2 {
  transform: translate3d(0, 0, 0);
}

.hamburger-3 {
  transform: translate3d(0, 8px, 0);
}

.menu-open:checked+.menu-open-button .hamburger-1 {
  transform: translate3d(0, 0, 0) rotate(45deg);
}

.menu-open:checked+.menu-open-button .hamburger-2 {
  transform: scale(0.1, 1);
}

.menu-open:checked+.menu-open-button .hamburger-3 {
  transform: translate3d(0, 0, 0) rotate(-45deg);
}

.menu-item:hover {
  background: var(--bg-color);
  color: var(--text-color);
}

.menu-item:nth-child(n + 3) {
  transition-duration: 180ms;
}

.menu-open-button {
  z-index: 2;
  transform: scale(1.1) translate3d(0, 0, 0);
  transition-duration: 200ms;
  cursor: pointer;
}

.menu-open-button:hover {
  transform: scale(1.2) translate3d(0, 0, 0);
}

.menu-open:checked+.menu-open-button {
  transition-duration: 200ms;
  transition-timing-function: linear;
  transform: scale(0.95) translate3d(0, 0, 0);
}

.menu-open:checked~.menu-item {
  transition-timing-function: cubic-bezier(0.165, 0.84, 0.44, 1);
}

.menu-open:checked~.menu-item:nth-child(3) {
  transition-duration: 190ms;
  transform: translate3d(0, -60px, 0);
}

.menu-open:checked~.menu-item:nth-child(4) {
  transition-duration: 290ms;
  transform: translate3d(0, -120px, 0);
}

.menu-open:checked~.menu-item:nth-child(5) {
  transition-duration: 390ms;
  transform: translate3d(0, -180px, 0);
}

.menu {
  position: fixed;
  bottom: 120px;
  right: 60px;
}

@media (max-width: 768px) {
  .menu-open-button {
    bottom: 20px;
    right: 20px;
    margin-left: -10px;
  }

  .menu-item {
    bottom: 20px;
    margin-left: -10px;
  }
} */