@tailwind base;
@tailwind components;
@tailwind utilities;

/* component of tailwind */
@layer components {
  html {
    font-family: "Roboto", sans-serif;
  }

  .group:hover .group-hover\:block {
    display: block;
  }

  /* toast animation */
  #alert {
    animation-duration: 0.5s;
    animation-timing-function: ease-in-out;
    animation-fill-mode: forwards;
    position: fixed;
    z-index: 999;
  }

  @keyframes fade-in {
    from {
      opacity: 0;
    }

    to {
      opacity: 1;
    }
  }

  @keyframes fade-up {
    from {
      opacity: 1;
      transform: translateY(0);
    }

    to {
      opacity: 0;
      transform: translateY(-50px);
    }
  }

  .animate-fade-in {
    animation-name: fade-in;
  }

  .animate-fade-up {
    animation-name: fade-up;
  }

  @keyframes rotate-one {
    0% {
      transform: rotateX(135deg) rotateY(-45deg) rotateZ(0deg);
    }

    100% {
      transform: rotateX(135deg) rotateY(-45deg) rotateZ(360deg);
    }
  }

  @keyframes rotate-two {
    0% {
      transform: rotateX(150deg) rotateY(10deg) rotateZ(0deg);
    }

    100% {
      transform: rotateX(150deg) rotateY(10deg) rotateZ(360deg);
    }
  }

  @keyframes rotate-three {
    0% {
      transform: rotateX(135deg) rotateY(55deg) rotateZ(0deg);
    }

    100% {
      transform: rotateX(135deg) rotateY(55deg) rotateZ(360deg);
    }
  }

  /* make things unselectable */
  .unselectable {
    -webkit-user-select: none;
    -webkit-touch-callout: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }

  /* scroll invisible */
  div::-webkit-scrollbar {
    width: 0;
  }

  div::-webkit-scrollbar-track {
    background-color: transparent;
  }

  div::-webkit-scrollbar-thumb {
    background-color: transparent;
  }

  /* FAB */
  :root {
    --bg-color: #fff;
    --text-color: #000;
  }

  @media (prefers-color-scheme: dark) {
    :root {
      --bg-color: #333;
      --text-color: #fff;
    }
  }

  .menu {
    position: fixed;
    z-index: 999;
  }

  .menu-item,
  .menu-open-button {
    width: 50px;
    height: 50px;
    margin-left: -40px;
    position: fixed;
    text-align: center;
    line-height: 50px;
    border-radius: 100%;
    background: #092ae7;
    color: white;
    transition: transform 0.3s ease-in-out;
  }

  .hamburger {
    width: 25px;
    height: 3px;
    background: white;
    display: block;
    position: fixed;
    top: 50%;
    left: 50%;
    margin: -1.5px 0 0 -12.5px;
    transition: transform 0.3s ease-in-out;
  }

  .hamburger-1 {
    transform: translate3d(0, -8px, 0);
  }

  .hamburger-2 {
    transform: translate3d(0, 0, 0);
  }

  .hamburger-3 {
    transform: translate3d(0, 8px, 0);
  }

  .menu-open:checked + .menu-open-button .hamburger-1 {
    transform: translate3d(0, 0, 0) rotate(45deg);
  }

  .menu-open:checked + .menu-open-button .hamburger-2 {
    transform: scale(0.1, 1);
  }

  .menu-open:checked + .menu-open-button .hamburger-3 {
    transform: translate3d(0, 0, 0) rotate(-45deg);
  }

  .menu-item:hover {
    background: var(--bg-color);
    color: var(--text-color);
  }

  .menu-item:nth-child(n + 3) {
    transition-duration: 180ms;
  }

  .menu-open-button {
    z-index: 2;
    transform: scale(1.1) translate3d(0, 0, 0);
    transition-duration: 200ms;
    cursor: pointer;
  }

  .menu-open-button:hover {
    transform: scale(1.2) translate3d(0, 0, 0);
  }

  .menu-open:checked + .menu-open-button {
    transition-duration: 200ms;
    transition-timing-function: linear;
    transform: scale(0.95) translate3d(0, 0, 0);
  }

  .menu-open:checked ~ .menu-item {
    transition-timing-function: cubic-bezier(0.165, 0.84, 0.44, 1);
  }

  .menu-open:checked ~ .menu-item:nth-child(3) {
    transition-duration: 190ms;
    transform: translate3d(0, -60px, 0);
  }

  .menu-open:checked ~ .menu-item:nth-child(4) {
    transition-duration: 290ms;
    transform: translate3d(0, -120px, 0);
  }

  .menu-open:checked ~ .menu-item:nth-child(5) {
    transition-duration: 390ms;
    transform: translate3d(0, -180px, 0);
  }

  .menu {
    position: fixed;
    bottom: 120px;
    right: 60px;
  }

  @media (max-width: 768px) {
    .menu-open-button {
      bottom: 20px;
      right: 20px;
      margin-left: -10px;
    }

    .menu-item {
      bottom: 20px;
      margin-left: -10px;
    }
  }

  /* loading */
  .loading {
    border: 8px solid rgba(0, 0, 0, 0.1);
    border-top-color: #22d3ee;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    animation: spin 1s ease-in-out infinite;
  }

  #loading-container {
    display: none;
    position: fixed;
    z-index: 999;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
  }

  #loading-container.show {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  @keyframes spin {
    0% {
      transform: rotate(0deg);
    }

    100% {
      transform: rotate(360deg);
    }
  }

  .placeholder-center::placeholder {
    text-align: center;
    line-height: calc(8.5em + 0.75rem);
  }

  /* record */
  .record {
    --size: 90%;
    --radius: 50%;
    border: 6px solid #f56565;
    border-radius: var(--radius);
    cursor: pointer;
    display: inline-block;
    height: 200px;
    width: 200px;
    position: relative;
    background-color: transparent;
    transition: all 0.25s ease-in-out;
  }

  .record:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
  }

  .record span#record-icon {
    background-color: #f56565;
    border-radius: var(--radius);
    bottom: 0;
    display: block;
    height: var(--size);
    left: 0;
    margin: auto;
    position: absolute;
    right: 0;
    top: 0;
    width: var(--size);
    transition: all 0.25s ease-in-out;
  }

  .record[data-state="recording"] span#record-icon {
    --size: 50%;
    --radius: 10%;
    transform: rotateZ(180deg);
    animation: recording-animation 0.25s cubic-bezier(1, 0, 0, 0.2) forwards;
    /* animation-delay: 3s; */
    /* opacity: 0; */
  }

  @keyframes recording-animation {
    0% {
      opacity: 0;
      transform: scale(0);
    }

    100% {
      opacity: 1;
      transform: scale(1);
    }
  }
}
