@tailwind base;
@tailwind components;
@tailwind utilities;

/* component of tailwind */
@layer components {
  html {
    line-height: 1.15;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    font-family: "Heebo", sans-serif;
  }

  body {
    line-height: 30px;
    /* color: #6b7a90; */
  }

  .group:hover .group-hover:block {
    display: block;
  }

  /* toast animation */
  #alert {
    animation-duration: 0.5s;
    animation-timing-function: ease-in-out;
    animation-fill-mode: forwards;
    position: fixed;
    z-index: 999;
  }

  @keyframes fade-in {
    from {
      opacity: 0;
    }

    to {
      opacity: 1;
    }
  }

  @keyframes fade-up {
    from {
      opacity: 1;
      transform: translateY(0);
    }

    to {
      opacity: 0;
      transform: translateY(-50px);
    }
  }

  .animate-fade-in {
    animation-name: fade-in;
  }

  .animate-fade-up {
    animation-name: fade-up;
  }

  @keyframes rotate-one {
    0% {
      transform: rotateX(135deg) rotateY(-45deg) rotateZ(0deg);
    }

    100% {
      transform: rotateX(135deg) rotateY(-45deg) rotateZ(360deg);
    }
  }

  @keyframes rotate-two {
    0% {
      transform: rotateX(150deg) rotateY(10deg) rotateZ(0deg);
    }

    100% {
      transform: rotateX(150deg) rotateY(10deg) rotateZ(360deg);
    }
  }

  @keyframes rotate-three {
    0% {
      transform: rotateX(135deg) rotateY(55deg) rotateZ(0deg);
    }

    100% {
      transform: rotateX(135deg) rotateY(55deg) rotateZ(360deg);
    }
  }

  /* make things unselectable */
  .unselectable {
    -webkit-user-select: none;
    -webkit-touch-callout: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }

  /* scroll invisible */
  div::-webkit-scrollbar {
    width: 0;
  }

  div::-webkit-scrollbar-track {
    background-color: transparent;
  }

  div::-webkit-scrollbar-thumb {
    background-color: transparent;
  }

  /* FAB */
  :root {
    --bg-color: #fff;
    --text-color: #000;
  }

  @media (prefers-color-scheme: dark) {
    :root {
      --bg-color: #333;
      --text-color: #fff;
    }
  }

  .menu {
    position: fixed;
    z-index: 999;
  }

  .menu-item,
  .menu-open-button {
    width: 50px;
    height: 50px;
    margin-left: -40px;
    position: fixed;
    text-align: center;
    line-height: 50px;
    border-radius: 100%;
    background: #092ae7;
    color: white;
    transition: transform 0.3s ease-in-out;
  }

  .hamburger {
    width: 25px;
    height: 3px;
    background: white;
    display: block;
    position: fixed;
    top: 50%;
    left: 50%;
    margin: -1.5px 0 0 -12.5px;
    transition: transform 0.3s ease-in-out;
  }

  .hamburger-1 {
    transform: translate3d(0, -8px, 0);
  }

  .hamburger-2 {
    transform: translate3d(0, 0, 0);
  }

  .hamburger-3 {
    transform: translate3d(0, 8px, 0);
  }

  .menu-open:checked + .menu-open-button .hamburger-1 {
    transform: translate3d(0, 0, 0) rotate(45deg);
  }

  .menu-open:checked + .menu-open-button .hamburger-2 {
    transform: scale(0.1, 1);
  }

  .menu-open:checked + .menu-open-button .hamburger-3 {
    transform: translate3d(0, 0, 0) rotate(-45deg);
  }

  .menu-item:hover {
    background: var(--bg-color);
    color: var(--text-color);
  }

  .menu-item:nth-child(n + 3) {
    transition-duration: 180ms;
  }

  .menu-open-button {
    z-index: 2;
    transform: scale(1.1) translate3d(0, 0, 0);
    transition-duration: 200ms;
    cursor: pointer;
  }

  .menu-open-button:hover {
    transform: scale(1.2) translate3d(0, 0, 0);
  }

  .menu-open:checked + .menu-open-button {
    transition-duration: 200ms;
    transition-timing-function: linear;
    transform: scale(0.95) translate3d(0, 0, 0);
  }

  .menu-open:checked ~ .menu-item {
    transition-timing-function: cubic-bezier(0.165, 0.84, 0.44, 1);
  }

  .menu-open:checked ~ .menu-item:nth-child(3) {
    transition-duration: 190ms;
    transform: translate3d(0, -60px, 0);
  }

  .menu-open:checked ~ .menu-item:nth-child(4) {
    transition-duration: 290ms;
    transform: translate3d(0, -120px, 0);
  }

  .menu-open:checked ~ .menu-item:nth-child(5) {
    transition-duration: 390ms;
    transform: translate3d(0, -180px, 0);
  }

  .menu {
    position: fixed;
    bottom: 120px;
    right: 60px;
  }

  @media (max-width: 768px) {
    .menu-open-button {
      bottom: 20px;
      right: 20px;
      margin-left: -10px;
    }

    .menu-item {
      bottom: 20px;
      margin-left: -10px;
    }
  }

  /* loading */
  .loading {
    border: 8px solid rgba(0, 0, 0, 0.1);
    border-top-color: #22d3ee;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    animation: spin 1s ease-in-out infinite;
  }

  #loading-container {
    display: none;
    position: fixed;
    z-index: 999;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
  }

  #loading-container.show {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  @keyframes spin {
    0% {
      transform: rotate(0deg);
    }

    100% {
      transform: rotate(360deg);
    }
  }

  .placeholder-center::placeholder {
    text-align: center;
    line-height: calc(8.5em + 0.75rem);
  }

  /* record */
  .record {
    --size: 90%;
    --radius: 50%;
    border: 6px solid #f56565;
    border-radius: var(--radius);
    cursor: pointer;
    display: inline-block;
    height: 200px;
    width: 200px;
    position: relative;
    background-color: transparent;
    transition: all 0.25s ease-in-out;
  }

  .record:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
  }

  .record span#record-icon {
    background-color: #f56565;
    border-radius: var(--radius);
    bottom: 0;
    display: block;
    height: var(--size);
    left: 0;
    margin: auto;
    position: absolute;
    right: 0;
    top: 0;
    width: var(--size);
    transition: all 0.25s ease-in-out;
  }

  .record[data-state="recording"] span#record-icon {
    --size: 50%;
    --radius: 10%;
    transform: rotateZ(180deg);
    animation: recording-animation 0.25s cubic-bezier(1, 0, 0, 0.2) forwards;
    /* animation-delay: 3s; */
    /* opacity: 0; */
  }

  @keyframes recording-animation {
    0% {
      opacity: 0;
      transform: scale(0);
    }

    100% {
      opacity: 1;
      transform: scale(1);
    }
  }
}

.title {
  font-size: 38px;
  line-height: 48px;
  letter-spacing: 0px;
}

@media (min-width: 641px) {
  .title {
    font-size: 44px;
    line-height: 54px;
    letter-spacing: 0px;
  }
}
.secondary-title {
  font-size: 28px;
  line-height: 34px;
  letter-spacing: 0px;
}

@media (min-width: 641px) {
  .secondary-title {
    font-size: 32px;
    line-height: 42px;
    letter-spacing: 0px;
  }
}

.hero {
  position: relative;
  padding-top: 128px;
  padding-bottom: 88px;
  z-index: 0;
}

.hero .hero-bg {
  position: absolute;
  top: 0;
  bottom: 42%;
  left: 0;
  right: 0;
  background: #0b0d19;
  z-index: -2;
}

.hero .hero-particles-container {
  position: absolute;
  top: 0;
  bottom: 42%;
  left: 0;
  right: 0;
}

.hero::before,
.hero::after {
  content: "";
  position: absolute;
  left: calc(50% - 360px);
  width: 720px;
  background-repeat: no-repeat;
}
.hero::before {
  top: 0;
  height: 159px;
  background-image: url("../images/hero-bg-top.svg");
  background-size: 720px 159px;
}
.hero::after {
  bottom: 42%;
  height: 173px;
  background-image: url("../images/hero-bg-bottom.svg");
  background-size: 720px 173px;
}

@media (min-width: 641px) {
  .hero {
    padding-top: 160px;
    padding-bottom: 128px;
  }
  .hero::before,
  .hero::after {
    left: calc(50% - 720px);
    width: 1440px;
  }
  .hero::before {
    height: 318px;
    background-size: 1440px 318px;
  }
  .hero::after {
    height: 347px;
    background-size: 1440px 347px;
  }
}

.has-animations .hero .hero-bg,
.has-animations .hero::before,
.has-animations .hero::after,
.has-animations .hero-particles-container,
.has-animations .site-header,
.has-animations .hero-title,
.has-animations .hero-paragraph,
.has-animations .hero-cta,
.has-animations .hero .mockup-bg,
.has-animations .hero .device-mockup {
  opacity: 0;
}
.has-animations.is-loaded .hero .hero-bg {
  animation: heroBg 0.6s cubic-bezier(0.215, 0.61, 0.355, 1) forwards;
}
.has-animations.is-loaded .hero::before,
.has-animations.is-loaded .hero::after {
  animation: heroFadeIn 0.6s ease forwards 0.45s;
}
.has-animations.is-loaded .site-header,
.has-animations.is-loaded .hero-particles-container,
.has-animations.is-loaded .hero .mockup-bg {
  animation: heroFadeIn 0.6s ease forwards 0.45s;
}
.has-animations.is-loaded .hero-title {
  animation: heroContent 0.6s cubic-bezier(0.215, 0.61, 0.355, 1) forwards 0.15s;
}
.has-animations.is-loaded .hero-paragraph {
  animation: heroContent 0.6s cubic-bezier(0.215, 0.61, 0.355, 1) forwards 0.3s;
}
.has-animations.is-loaded .hero-cta {
  animation: heroContent 0.6s cubic-bezier(0.215, 0.61, 0.355, 1) forwards 0.45s;
}
.has-animations.is-loaded .hero .device-mockup {
  animation: heroMockup 0.6s ease forwards 0.6s;
}
@keyframes heroBg {
  from {
    transform: scaleY(0) scaleX(1.2) skewY(30deg);
    opacity: 1;
  }
  to {
    transform: scaleY(1) scaleX(1) skewY(0);
    opacity: 1;
  }
}
@keyframes heroContent {
  from {
    transform: translateY(40px) skewY(2deg);
    opacity: 0;
  }
  to {
    transform: translateY(0) skewY(0);
    opacity: 1;
  }
}
@keyframes heroMockup {
  from {
    transform: translateY(80px);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}
@keyframes heroFadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.mockup-container {
  position: relative;
}
.mockup-bg {
  pointer-events: none;
}
.mockup-bg img,
.mockup-bg svg {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: auto !important;
  height: auto;
  max-width: 300% !important;
}
.device-mockup {
  position: relative;
  width: 350px;
  height: auto;
  margin: 0 auto;
  z-index: 1;
}
.has-animations .features-extended {
  opacity: 0;
}
.has-animations.is-loaded .features-extended {
  opacity: 1;
}
.features-extended-header {
  margin-bottom: 32px;
}
.features-extended-wrap {
  display: flex;
  flex-wrap: wrap;
  margin-top: -24px;
}
.features-extended-wrap:last-of-type {
  margin-bottom: -24px;
}
.features-extended-wrap:not(:last-of-type) {
  margin-bottom: 24px;
}
.feature-extended {
  padding: 24px 0;
}
.feature-extended-image {
  position: relative;
  margin-bottom: 32px;
}
.feature-extended-image img,
.feature-extended-image svg {
  width: 100%;
  max-width: 296px;
  height: auto;
  margin-left: auto;
  margin-right: auto;
  overflow: visible;
}
.feature-extended-body {
  text-align: center;
}
@media (min-width: 641px) {
  .features-extended .container {
    max-width: 912px;
  }
  .features-extended .section-inner {
    padding-bottom: 128px;
  }
  .features-extended .section-paragraph {
    padding-left: 72px;
    padding-right: 72px;
    margin-bottom: 0;
  }
  .features-extended-header {
    margin-bottom: 80px;
  }
  .features-extended-wrap {
    margin-top: -64px;
  }
  .features-extended-wrap:last-of-type {
    margin-bottom: -64px;
  }
  .features-extended-wrap:not(:last-of-type) {
    margin-bottom: 64px;
  }
  .feature-extended {
    display: flex;
    flex-wrap: nowrap;
    align-items: stretch;
    justify-content: flex-end;
    padding: 64px 0;
  }
  .feature-extended .feature-extended-image {
    width: 440px;
    margin-right: 96px;
    margin-bottom: 0;
  }
  .feature-extended .feature-extended-image img,
  .feature-extended .feature-extended-image svg {
    width: auto;
  }
  .feature-extended .feature-extended-image img.device-mockup,
  .feature-extended .feature-extended-image svg.device-mockup {
    max-width: 296px;
  }
  .feature-extended:nth-child(even) {
    justify-content: flex-start;
  }
  .feature-extended:nth-child(even) .feature-extended-image {
    order: 1;
    margin-left: 96px;
    margin-right: 0;
  }
  .feature-extended-body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-shrink: 0;
    width: 360px;
    text-align: left;
  }
}
@media (min-width: 1025px) {
  .features-extended .container {
    max-width: 944px;
  }
  .feature-extended .feature-extended-image {
    margin-right: 64px;
  }
  .feature-extended:nth-child(even) .feature-extended-image {
    margin-left: 64px;
  }
  .feature-extended-body {
    width: 392px;
  }
}
.cta .section-paragraph {
  margin-bottom: 32px;
}
@media (min-width: 641px) {
  .cta .section-paragraph {
    margin-bottom: 32px;
    padding-left: 72px;
    padding-right: 72px;
  }
}

.section-inner {
  position: relative;
  padding-top: 48px;
  padding-bottom: 48px;
}
@media (min-width: 641px) {
  .section-inner {
    padding-top: 88px;
    padding-bottom: 88px;
  }
}
.site-footer {
  position: relative;
  background: #0b0d19;
}
.site-footer::before {
  content: "";
  position: absolute;
  top: -76px;
  left: calc(50% - 360px);
  width: 720px;
  height: 291px;
  background-image: url("../images/footer-bg.svg");
  background-size: 720px 291px;
  background-repeat: no-repeat;
}
.site-footer .footer-particles-container {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}
.site-footer-bottom {
  font-size: 14px;
  line-height: 22px;
  letter-spacing: 0px;
  z-index: 1;
}
.site-footer-bottom a {
  color: #606483;
  text-decoration: none;
}
.site-footer-bottom a:hover,
.site-footer-bottom a:active {
  text-decoration: underline;
}

.footer-brand,
.footer-links,
.footer-social-links,
.footer-copyright {
  flex: none;
  width: 100%;
  display: inline-flex;
  justify-content: center;
}
.footer-brand,
.footer-links,
.footer-social-links {
  margin-bottom: 24px;
}
.footer-links li + li,
.footer-social-links li + li {
  margin-left: 16px;
}
.footer-social-links li {
  display: inline-flex;
}
.footer-social-links li a {
  padding: 8px;
}
@media (min-width: 641px) {
  .site-footer::before {
    top: -152px;
    left: calc(50% - 720px);
    width: 1440px;
    height: 582px;
    background-size: 1440px 582px;
  }
  .footer-brand,
  .footer-links,
  .footer-social-links,
  .footer-copyright {
    flex: 50%;
  }
  .footer-brand,
  .footer-copyright {
    justify-content: flex-start;
  }
  .footer-links,
  .footer-social-links {
    justify-content: flex-end;
  }
  .footer-links {
    order: 1;
    margin-bottom: 0;
  }
}
