@tailwind base;
@tailwind components;
@tailwind utilities;

.fab {
  position: fixed;
  bottom: 290px;
  right: 140px;
  z-index: 9999;
}

.fab-icon {
  display: block;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: #010305;
  text-align: center;
  line-height: 60px;
  color: #fff;
  font-size: 24px;
  transition: all 0.3s ease-in-out;
}

.fab:hover .fab-icon {
  transform: rotate(45deg);
}

.fa {
  margin-top: 18px;
}




