<!DOCTYPE html>
<html lang="en" class="">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <!-- external -->
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap" rel="stylesheet" />
    <!-- use in css -->

    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" />
  </head>

  <body class="m-0">
    <!-- notification -->

    <!-- loading indicator -->

    <!-- floating action button -->

    <!-- content 
    
    - background added
    - https://scontent.fmnl9-1.fna.fbcdn.net/v/t1.15752-9/341837729_227229043330140_5454585562848250575_n.png?_nc_cat=109&ccb=1-7&_nc_sid=ae9488&_nc_eui2=AeEg0jQCg3RsWn-8uG40kPSlMv8XqaV2S-Ey_xeppXZL4QP_b3lQj-yiKexN23qA2Lr0rG-ZO1J6TSC83HX9yvTP&_nc_ohc=P9Tq7aReBN8AX_4bLm9&_nc_ht=scontent.fmnl9-1.fna&oh=03_AdTxpyfK21TzWcGYxpYGUL_ZbR_9ePQ0C2FlUr1PI3WC7A&oe=64756316

    - https://scontent.fmnl9-4.fna.fbcdn.net/v/t1.15752-9/344100833_779614320437842_7786002033456972677_n.png?_nc_cat=108&ccb=1-7&_nc_sid=ae9488&_nc_eui2=AeF4EcB4NVmo2x4-ejDx6xgUVQMuXK3QcDNVAy5crdBwM5vkmrDlTCPgLm3mK7iHNVW9r53uFuJSbpLfaICGg9L_&_nc_ohc=T03B6kcm8AwAX9SWFOQ&_nc_ht=scontent.fmnl9-4.fna&oh=03_AdToZZAOL9zsr-UuRIC0OLNRetP7dxLmcRxLjnU60og6sw&oe=647597F7

    -->
    <main class="flex min-h-screen items-center justify-center px-6 py-10">
      <div class="flex w-5/6 flex-col items-center justify-between bg-gray-50 lg:flex-row">
        <!-- first col -->
        <div class="flex flex-col items-center justify-between pb-20 pl-10 pr-10 pt-5 lg:w-1/2 lg:pt-20">
          <div class="top-0 text-center">
            <img src="https://scontent.fmnl9-4.fna.fbcdn.net/v/t1.15752-9/344100833_779614320437842_7786002033456972677_n.png?_nc_cat=108&ccb=1-7&_nc_sid=ae9488&_nc_eui2=AeF4EcB4NVmo2x4-ejDx6xgUVQMuXK3QcDNVAy5crdBwM5vkmrDlTCPgLm3mK7iHNVW9r53uFuJSbpLfaICGg9L_&_nc_ohc=T03B6kcm8AwAX9SWFOQ&_nc_ht=scontent.fmnl9-4.fna&oh=03_AdToZZAOL9zsr-UuRIC0OLNRetP7dxLmcRxLjnU60og6sw&oe=647597F7" class="h-[200px] w-[300px]" />
          </div>

          <div class="text-sm text-gray-400">Step 2 of 3</div>
          <div class="text-2xl font-bold capitalize text-gray-700">How to use NiO</div>

          <div class="group m-4 flex items-center">
            <!-- number circle -->
            <div class="z-10 flex h-16 w-16 items-center justify-center rounded-full border-2 border-solid border-gray-500">
              <div class="flex h-10 w-10 items-center justify-center rounded-full">
                <span class="text-lg font-medium text-gray-500">1</span>
              </div>
            </div>
            <!-- text content -->
            <div class="z-0 ml-[-65px] h-16 w-80 rounded-full bg-gray-100 px-2.5 py-2">
              <div class="flex h-full items-center justify-between font-light text-gray-500">
                <p class="ml-14 p-4 text-sm">Enter your username</p>
              </div>
            </div>
          </div>

          <div class="group m-4 flex items-center">
            <!-- number circle -->
            <div class="z-10 flex h-16 w-16 items-center justify-center rounded-full border-2 border-solid border-gray-500">
              <div class="flex h-10 w-10 items-center justify-center rounded-full bg-purple-600">
                <span class="bg-purple-600 text-lg font-medium text-white">2</span>
              </div>
            </div>
            <!-- text content -->
            <div class="z-0 ml-[-65px] h-16 w-80 rounded-full bg-gray-100 px-2.5 py-2">
              <div class="flex h-full items-center justify-between font-light text-gray-500">
                <p class="ml-14 p-4 text-sm">Upload a text file or script in the text box (optional)</p>
              </div>
            </div>
          </div>

          <div class="group m-4 flex items-center">
            <!-- number circle -->
            <div class="z-10 flex h-16 w-16 items-center justify-center rounded-full border-2 border-solid border-gray-500">
              <div class="flex h-10 w-10 items-center justify-center rounded-full">
                <span class="text-lg font-medium text-gray-500">3</span>
              </div>
            </div>
            <!-- text content -->
            <div class="z-0 ml-[-65px] h-16 w-80 rounded-full bg-gray-100 px-2.5 py-2">
              <div class="flex h-full items-center justify-between font-light text-gray-500">
                <p class="ml-14 p-4 text-sm">Press Start</p>
              </div>
            </div>
          </div>
        </div>

        <!-- second col -->
        <div class="relative z-10 mb-10 mr-10 ml-10 w-full max-w-2xl lg:mb-0 lg:ml-10 lg:w-1/2">
          <form class="space-y-8 rounded-xl bg-white p-10 shadow-lg">
            <div class="relative z-10 flex flex-col items-center justify-start space-y-8 rounded-xl bg-white pb-5 pl-5 pr-5 pt-5 text-center">

              <!-- when not recording -->
              <!-- <p>Press the button to start recording</p>
              <button type="submit" class="mx-auto inline-block h-24 w-24 rounded-full bg-pink-600 px-3 py-2 text-4xl font-medium text-gray-800 transition duration-200 hover:bg-gray-800 hover:text-pink-600">
                <i class="fa fa-microphone"></i>
              </button> -->
              

              <!-- when recording -->
              <p>Press the button to stop recording</p>
              <button type="submit" class="mx-auto inline-block h-24 w-24 rounded-full bg-pink-600 px-3 py-2 text-4xl font-medium text-gray-800 transition duration-200 hover:bg-gray-800 hover:text-pink-600">
                <i class="fa fa-stop"></i>
              </button>
              
              <p>00:30</p>

            </div>
          </form>
        </div>
      </div>
    </main>

    <!-- end main -->
  </body>
</html>
