<!-- this extends our base html -->
{% extends 'base.html' %} {% block title %} Welcome {% endblock %} {% block body %}

<span class="err" style="color: red">{{ error }}</span>






<form action="/index" method="post" enctype=multipart/form-data>
  <label for="html">What do you want me to call you?</label>
  <br />
  <input
    class=""
    type="text"
    id="username"
    name="username"
    placeholder="name"
    minlength="3"
    maxlength="19"
  />
  <!--- required is removed from the input above --> 
  <br />

  <br />
  input (copy paste you're script)
  <input
    class="txt_area"
    type="text"
    id="text_script"
    name="text_script"
    placeholder="copy and paste your speech script here"
  />

  <br />
  or input file text
  <input type="file" id="file_script" name="file_script" accept=".txt" />

  <br />
  <br />
  <input type="submit" id="submit" value="Proceed" />
</form>










<br />
<hr>
<p>user name is {{ user_name }}</p>
<textarea>{{ text_script }}</textarea>

{% endblock %}
