<!-- this extends our base html -->
{% extends 'base.html' %} {% block title %} Welcome {% endblock %} {% block body
%}

<form action="/index" method="post" enctype=multipart/form-data>
  <label for="html">What do you want me to call you?</label>
  <br />
  <input
    class=""
    type="text"
    id="username"
    name="username"
    placeholder="name"
    required
  />
  <br />

  <br />
  input (copy paste you're script)
  <input
    class="txt_area"
    type="text"
    id="text_script"
    name="text_script"
    placeholder="copy and paste your speech script here"
  />

  <br />
  or input file text
  <input type="file" id="file_script" name="file_script" accept=".txt" />

  <br />
  <br />
  <input type="submit" id="submit" value="Proceed" />
</form>

<h4>action</h4>
<p>user name is {{ user_name}}</p>
<textarea>{{ text_script}}</textarea>

{% endblock %}
